<footer>
  <%= date(new Date(), 'YYYY') %>
  <span class="author">
    <%= config.author || '' %>
  </span>
</footer>

<!-- PeterCat Assistant Initialization -->
<script>
  PetercatLUI.initAssistant({
    apiDomain: 'https://api.petercat.ai',
    token: 'baf39b4e-797e-49e7-9745-5ffaad963cc5',
    helloMessage: "I'm your bookworm servant, ask me anything",
    starters: ['introduce the website', 'summary', 'recommend a book'],
    clearMessage: true
  });
</script>
