footer {
  margin: 0.5em 20px 0 20px;
  border-top: 3px double var(--border-color);
  padding: 1em 0 1em 0;
  font-size: 80%;
  color: var(--gray-color);

  .author {
    color: var(--text-color);
  }
}